@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.halo-gradient {
  position: absolute;
  inset: -20%;
  transform: rotate(48deg);
  background:
    /* 8 ellipses extracted from image */
    radial-gradient(ellipse 4.87% 75.36% at 20.27% 50.92%, rgba(116,125,130,0.43), transparent 70%),
    radial-gradient(ellipse 4.87% 10.36% at 24.27% 90.92%, rgba(116,125,130,0.33), transparent 70%),
    radial-gradient(ellipse 8.87% 50.36% at 30.27% 60.92%, rgba(116,125,130,0.63), transparent 70%),
    radial-gradient(ellipse 5.87% 50.36% at 45.27% 90.92%, rgba(116,125,130,0.63), transparent 70%),
    radial-gradient(ellipse 4.87% 85.36% at 56.27% 46.92%, rgba(116,125,130,0.33), transparent 82%),
    radial-gradient(ellipse 6.87% 75.36% at 64.27% 76.92%, rgba(116,125,130,0.33), transparent 82%),
    radial-gradient(ellipse 3.87% 75.36% at 74.27% 46.92%, rgba(116,125,130,0.33), transparent 82%),
    radial-gradient(ellipse 3.87% 75.36% at 84.27% 56.92%, rgba(116,125,130,0.33), transparent 82%),

    /* base */
    #1b1b1b;
  filter: blur(18px);
  opacity: 1;
}

.halo-noise {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
  mix-blend-mode: multiply; /* stronger than overlay */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
